<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="histories">
    <div id="comments" th:if="${not #lists.isEmpty(task.getHistories())}">
      <hr class="separate_sections" />
      <h2>Comments:</h2>
      <div th:each="history : ${task.getHistories()}" class="comment_container page_break_inside pl10px pr10px">
        <div class="row" th:if="${history.getComment() == null}">
          <div class="truncate_text" th:utext="${history.getDescription()}"></div>
          <div class="history_date_time"><h5 th:text="${history.getDate()}"></h5></div>
        </div>
        <div th:if="${history.getComment() != null}">
          <div class="row">
            <div class="comment_title">
              <div
                class="user_img"
                th:text="${history.getComment().getUser().getInitials()}"
                th:style="'background:' + ${history.getComment().getUser().getColor()}"
              ></div>
              <h5 th:text="${history.getComment().getUsername()}"></h5>
            </div>
            <div class="date_time"><h5 th:text="${history.getComment().getDateTime()}"></h5></div>
          </div>
          <div class="mt_mb_10px ml10px">
            <div th:utext="${history.getComment().getHtmlText()}"></div>
            <hr th:if="${history.getComment().getAssignee() != null}" />
            <div class="row_start" th:if="${history.getComment().getAssignee() != null}">
              <div class="comment_title assignee_item" th:if="${history.getComment().getAssignee() != null}">
                <div
                  class="user_img"
                  th:text="${history.getComment().getAssignee().getInitials()}"
                  th:style="'background:' + ${history.getComment().getAssignee().getColor()}"
                ></div>
                <div>
                  <span
                    th:if="${history.getComment().getAssignee().getUsername() != null}"
                    th:text="|Assignee: ${history.getComment().getAssignee().getUsername()}|"
                  ></span>
                </div>
              </div>
              <div class="comment_title assignee_item" th:if="${history.getComment().getAssignedBy() != null}">
                <div
                  class="user_img"
                  th:text="${history.getComment().getAssignedBy().getInitials()}"
                  th:style="'background:' + ${history.getComment().getAssignedBy().getColor()}"
                ></div>
                <div>
                  <span
                    th:if="${history.getComment().getAssignedBy().getUsername() != null}"
                    th:text="|Assigned By: ${history.getComment().getAssignedBy().getUsername()}|"
                  ></span>
                </div>
              </div>
              <div class="comment_title assignee_item" th:if="${history.getComment().getResolvedBy() != null}">
                <div
                  class="user_img"
                  th:text="${history.getComment().getResolvedBy().getInitials()}"
                  th:style="'background:' + ${history.getComment().getResolvedBy().getColor()}"
                ></div>
                <div>
                  <span
                    th:if="${history.getComment().getResolvedBy().getUsername() != null}"
                    th:text="|Resolved By: ${history.getComment().getResolvedBy().getUsername()}|"
                  ></span>
                </div>
              </div>
            </div>
          </div>
          <hr th:if="${not #lists.isEmpty(history.getComment().getChildren())}" class="separate_sections" />
          <div
            class="comment_body comment_child mr10px page_break_inside pl10px pr10px"
            th:if="${not #lists.isEmpty(history.getComment().getChildren())}"
            th:each="child : ${history.getComment().getChildren()}"
          >
            <div class="row">
              <div class="comment_title">
                <div
                  class="user_img"
                  th:text="${child.getUser().getInitials()}"
                  th:style="'background:' + ${child.getUser().getColor()}"
                ></div>
                <h6 th:text="${child.getUsername()}"></h6>
              </div>
              <div class="date_time"><h6 th:text="${child.getDateTime()}"></h6></div>
            </div>
            <div>
              <div th:utext="${child.getHtmlText()}"></div>
              <hr th:if="${child.getAssignee() != null}" />
              <div class="row_start" th:if="${child.getAssignee() != null}">
                <div class="comment_title assignee_item" th:if="${child.getAssignee() != null}">
                  <div
                    class="user_img"
                    th:text="${child.getAssignee().getInitials()}"
                    th:style="'background:' + ${child.getAssignee().getColor()}"
                  ></div>
                  <div>
                    <span
                      th:if="${child.getAssignee().getUsername() != null}"
                      th:text="|Assignee: ${child.getAssignee().getUsername()}|"
                    ></span>
                  </div>
                </div>
                <div class="comment_title assignee_item" th:if="${child.getAssignedBy() != null}">
                  <div
                    class="user_img"
                    th:text="${child.getAssignedBy().getInitials()}"
                    th:style="'background:' + ${child.getAssignedBy().getColor()}"
                  ></div>
                  <div>
                    <span
                      th:if="${child.getAssignedBy().getUsername() != null}"
                      th:text="|Assigned By: ${child.getAssignedBy().getUsername()}|"
                    ></span>
                  </div>
                </div>
                <div class="comment_title assignee_item" th:if="${child.getResolvedBy() != null}">
                  <div
                    class="user_img"
                    th:text="${child.getResolvedBy().getInitials()}"
                    th:style="'background:' + ${child.getResolvedBy().getColor()}"
                  ></div>
                  <div>
                    <span
                      th:if="${child.getResolvedBy().getUsername() != null}"
                      th:text="|Resolved By: ${child.getResolvedBy().getUsername()}|"
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
</html>
